* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

/* Top Banner  */

.container {
    background-color: black;
    height: 645px;
    border-radius: 30px;
    margin: 50px 110px 130px 110px;

}

.top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heading-content {
    width: 50%;
    color: white;
    /* justify-content: center;
    align-items: center; */
    padding-left: 105px;

}

.heading-content h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
}

.heading-content p {
    padding-top: 20px;
    padding-bottom: 45px;
}



.heading-content a {
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 10px;

}

.fa-angle-right {
    padding-left: 10px;
}


.banner-img {
    width: 50%;
    margin-right: 80px;
    margin-top: 7px;

}

.banner-img img {
    width: 100%;
    height: 100%;
}


.button-blog-container {
    display: flex;
    margin-left: 110px;
    margin-right: 110px;
    width: 100%;
}




.button-container {
    background-color: black;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-right: 24px;

}

.button-parent {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.button {
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
    padding: 17px 39px;
    margin: 30px 30px 0 30px;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}


.red-button {
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #DD0000;
    padding: 17px 39px;
    margin: 30px 30px 0 30px;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}


.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;


}

.blogs {
    height: 362px;
    width: 300px;
    margin-right: 24px;
    box-shadow: 0 0 1px gray;
    box-shadow: 0 0 1px gray;
    border-radius: 10px;

}

.blog-thumbnail>img {
    width: 100%;
}

.blog-info {
    padding: 20px;
}

.blog-info a {
    text-decoration: none;
    border: 1.5px solid black;
    padding: 3px 8px;
    font-size: 16px;
    width: 67px;
    height: 24px;
}

.blog-info h4 {
    margin-top: 20px;
}

.blog-info p {
    margin-top: 20px;
}