* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    background-color: black;
    width: 1320px;
    height: 650px;
    margin-top: 50px;
}

.top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heading-content {
    width: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    padding-left: 105px;

}

.heading-content h1 {
    font-size: 70px;
    font-weight: 700;
}



.heading-content a {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 16px 25px;
    border-radius: 10px;

}


.banner-img {
    width: 50%;
    margin-right: 80px;

}

.banner-img img {
    width: 100%;
    height: 100%;
}